{% load static %}
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
          }
          
          th, td {
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {background-color: #f2f2f2;}
    body.home{
        background-image:url('{% static "/blog/images/back.jfif " %}');
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel ="stylesheet" href="{% static 'blog/css/bootstrap.css' %}"
<link rel ="stylesheet" href="{% static 'blog/css/style.css' %}"
<title> 
</title>
</head>

<body  >
<div class = "container-fluid bg-dark">
    {% include 'blog/navbar.html' %}
</div>

<div class = "container">
    <div class="row">
        <div class="col-sm-12">
            {% block msg %}
            {% endblock msg %}
        </div>
    </div>
    <div class="row">
        {% block side %}
        {% endblock side %}

        {% block content %}
        {% endblock content %}
    </div>
</div>

<script src ="{% static 'blog/js/jquery.js' %}"></script>
<script src ="{% static 'blog/js/popper.js' %}"></script>
<script src ="{% static 'blog/js/bootstrap.js' %}"></script>
</body>

</html>